.main {
  padding-top: 170px;
  color: #333333;
}

.main__section {
  margin-bottom: 250px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section__heading {
  margin-bottom: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.2px;
}

.section__text {
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.control__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.group-photos__dots--bottom {
  position: absolute;
  bottom: -9%;
  left: -9%;
}
