nav.header__nav.row
    a.logo(href="index.html")
        | YOUR LOGO HERE
    .row.header__links
        a.header__link(href="#!")
            | Блог
        a.header__link(href="#!")
            | Безопасность
        a.header__link(href="#!")
            | Помощь