.header__images
    .row.header__dots--top
        svg(width="86" height="70" class="dots dots--white")
            use(xlink:href="./img/svg/svg-sprite_geo.svg#dots")
        svg(width="86" height="70" class="dots dots--white")
            use(xlink:href="./img/svg/svg-sprite_geo.svg#dots")
    .header__img-wrapper.header__img-wrapper--top-left
        img.header__img(src="./img/header/photo1.jpg")
    .header__img-wrapper.header__img-wrapper--bottom-right
        img.header__img(src="./img/header/photo2.jpg")
    .header__call
        .header__camera
            svg(width="50" height="50")
                use(xlink:href="./img/svg/svg-sprite_call.svg#camera")
        .call__time 36:05
        .call__text Длительность<br>звонка
    .images__contacts
        .contacts__top
            p.contacts__heading Участники
            .contacts__hamburger
        .contacts__info
            .contacts__img-wrapper
                img.contacts__img(src="./img/header/header-ellipse/photo-ellipse1.jpg")
            p.contacts__text Иван Голиков
        .contacts__info
            .contacts__img-wrapper
                img.contacts__img(src="./img/header/header-ellipse/photo-ellipse2.jpg")
            p.contacts__text Маша 2
        .contacts__info
            .contacts__img-wrapper
                img.contacts__img(src="./img/header/header-ellipse/photo-ellipse3.jpg")
            p.contacts__text Костян Москва
        .contacts__info
            .contacts__img-wrapper
                img.contacts__img(src="./img/header/header-ellipse/photo-ellipse4.jpg")
            p.contacts__text Ирина Работа
    .header__dots--bottom
        svg(width="86" height="70" class="dots dots--yellow")
            use(xlink:href="./img/svg/svg-sprite_geo.svg#dots")
    .header__ellipse-wrapper
        svg(width="121" height="121" class="ellipse--violet")
            use(xlink:href="./img/svg/svg-sprite_geo.svg#ellipse")