header.header
    .container
        .header__triangle-wrapper.geometry
            svg(class="triangle")
                use(href="./img/svg/svg-sprite_geo.svg#triangle")
        include ./header__nav.pug
        include ./header__content.pug
    .hader__section--bottom
        .container
            include ./header__features.pug