header.header
    .header__triangle-wrapper
        svg(class="header__triangle")
            use(xlink:href="./img/svg/svg-sprite_geo.svg#triangle")
    .container
        include ./header__nav.pug
        include ./header__content.pug