header.header
    .container
        .header__triangle-wrapper
            svg(class="header__triangle")
                use(xlink:href="./img/svg/svg-sprite_geo.svg#triangle")
        include ./header__nav.pug
        include ./header__content.pug
    .hader__section--bottom
        .container
            include ./header__features.pug