section.header__content
    .row
        .col
            h1.header__heading
                | Бесплатные видеозвонки для общения без границ
            p.header__text
                | Для начала звонка отправьте собеседнику ссылку&#8209;приглашение. Общайтесь с коллегами, бизнес&#8209;партнерами и друзьями бесплатно и без ограничений по времени.
            .header__buttons.row.row--flex-start
                button.header__button.header__button--active НАЧАТЬ ЗВОНОК
                button.header__button КОНФЕРЕНЦИЯ
            p.header__text.header__text--bottom
                | Для входа в VideoApplication авторизуйтесь или зарегистрируйтесь в системе.
        .col
            include ./header__images.pug
