.header__features
    .features__item бесплатно
    .features__item вход по ссылке
    .features__item без ограничений по времени
    .features__item звонки из браузера
    .features__item демонстрация экрана
    .features__item безопасно
