.header__button {
  margin-right: 20px;
  padding: 17px 0;
  width: 185px;
  border: 1px #fff solid;

  &:last-child {
    margin-right: 0;
  }
}

.header__button--active {
  background-color: #fff;
  color: #5540bf;
}

.button--violet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  width: 230px;
  background-color: #5540bf;
  color: #fff;
}

.button--violet-border {
  color: #5540bf;
  border: 1px solid #5540bf;
}

.guest__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  margin-right: 10px;
  width: 70px;
  color: #ff4550;
  font-size: 8px;
  border: 1px solid #ff4550;
  border-radius: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.guest__button--accept {
  border: none;
  background-color: #9bd9f9;
  color: #fff;
}
