button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  margin-right: 20px;
  width: 185px;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;

  &:last-child {
    margin-right: 0;
  }
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.button--large {
  width: 230px;
}

.button--white {
  border: 1px #fff solid;
  color: #fff;
}

.button--white--active {
  background-color: #fff;
  color: #5540bf;
}

.button--violet {
  background-color: #5540bf;
  color: #fff;
}

.button--violet-border {
  color: #5540bf;
  border: 1px solid #5540bf;
}

.guest__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  margin-right: 10px;
  width: 70px;
  color: #ff4550;
  font-size: 8px;
  border: 1px solid #ff4550;
  border-radius: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.guest__button--accept {
  border: none;
  background-color: #9bd9f9;
  color: #fff;
}
