svg {
  display: block;
}

.dots {
  margin-right: 22px;
  &:last-child {
    margin-right: 0;
  }
}

.dots--white {
  fill: #fff;
}

.dots--yellow {
  fill: #ffd100;
}

.dots--violet {
  fill: #5540bf;
}

.ellipse--violet {
  fill: #5540bf;
}

.triangle {
  fill: rgba(175, 161, 249, 0.1);
  width: 644px;
  height: 720px;
}

.triangle--small {
  width: 231px;
  height: 231px;
}

.triangle--large {
  width: 774px;
  height: 870px;
}

.rectangle {
  width: 836.6px;
  height: 600px;
  fill: rgba(175, 161, 249, 0.3);
}

.rectangle--rotate {
  transform: rotate(30deg);
}

.square {
  width: 639.89px;
  height: 600px;
  fill: rgba(175, 161, 249, 0.3);
}

.square--small {
  width: 130px;
  height: 130px;
  fill: #afa1f9;
  border-radius: 20px;
}

.group-photos__dots--bottom {
  position: absolute;
  bottom: -11%;
  left: -10%;
}

.group-photos__dots--top-left {
  position: absolute;
  top: -7.5%;
  left: -7.5%;
}

.header__triangle-wrapper {
  position: absolute;
  top: -296px;
  left: -63px;
  z-index: -1;
}

.main__rectangle--wrapper {
  position: absolute;
  left: -36.5%;
  top: -44.5%;
  fill: rgba(175, 161, 249, 0.3);
  z-index: 0;
}

.main__triangle-wrapper--large {
  position: absolute;
  top: -168px;
  left: -263px;
  transform: rotate(0deg);
  z-index: -1;
}

.main__triangle-wrapper {
  position: absolute;
  left: -10.9%;
  top: 88.9%;
  transform: rotate(60deg);
  fill: #afa1f9;
}

.main__square-wrapper {
  position: absolute;
  right: -29.3%;
  top: -59.7%;
}

.main__square-wrapper--small {
  position: absolute;
  transform: rotate(45deg);
  right: -2%;
  top: -26.7%;
}
