.group-pics {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-rounded {
  border-radius: 0;
}

.group-photos {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.group-photos--no-shadow {
  box-shadow: none;
}

.group-photos--shadow-blue {
  box-shadow: 0px 0px 20px rgba(85, 64, 191, 0.2);
}

.group-photos--low-radius {
  border-radius: 10px;
}

.group-photos__img--large {
  width: 108%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group-photos__row {
  display: flex;
}

.group-photos__img-wrapper {
  width: 134px;
  height: 200px;
}

.img-messenger {
  width: 209px;
  border: 9px solid #fff;
  border-bottom: 4px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.2);
  overflow: hidden;
}

.group-photos__img-wrapper--large {
  width: 536px;
  height: 400px;
}

.group-photos__img-wrapper--largest {
  width: 588px;
}

.group-photos__img-wrapper--average {
  width: 410px;
}

.not-rounded {
  border-radius: 0;
}

.video-call {
  width: 245px;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(85, 64, 191, 0.2);
  z-index: 2;
}

.video-call__img-wrapper {
  position: relative;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
  overflow: hidden;
}

.group-pics__nav {
  padding: 14.26px 13.16px;
  background: #fff;
}

.main-bottom__side-img-wrapper {
  position: absolute;
  top: 11.3%;
  right: 1.6%;
  width: 152px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.3);
  overflow: hidden;
  z-index: 2;
}
