mixin call-control(className="call-control", width, height)
    div(class= className)
        svg(width= width height= height class="control__item")
            use(xlink:href="./img/svg/svg-sprite_call.svg#cameraCrossed")
        svg(width= width height= height class="control__item")
            use(xlink:href="./img/svg/svg-sprite_call.svg#callEnd")
        svg(width= width height= height class="control__item")
            use(xlink:href="./img/svg/svg-sprite_call.svg#micCrossed")