mixin social-icons(className="social-icons", width, height)
    div(class= className)
        a.social-icons__link(href="#!")
            svg(width= width height= height class="social-icons__item")
                use(href="./img/svg/svg-sprite_social.svg#facebook")
        a.social-icons__link(href="#!")
            svg(width= width height= height class="social-icons__item")
                use(href="./img/svg/svg-sprite_social.svg#vk")
        a.social-icons__link(href="#!")
            svg(width= width height= height class="social-icons__item")
                use(href="./img/svg/svg-sprite_social.svg#whatsapp")
        a.social-icons__link(href="#!")
            svg(width= width height= height class="social-icons__item")
                use(href="./img/svg/svg-sprite_social.svg#telegram")