extends ./../layouts/main.pug

block variables
    - const title = "Главная";


block content
    include ../sections/header/header.pug
    include ../sections/main/main.pug
    include ../sections/footer/footer.pug
