.header {
  position: relative;
  padding-top: 40px;
  background: linear-gradient(51.78deg, #5540bf 28.44%, #afa1f9 99.76%);
  color: #fff;
}

.header__triangle-wrapper {
  position: absolute;
  top: -296px;
  left: -63px;
}

.header__triangle {
  fill: rgba(175, 161, 249, 0.1);
  width: 644px;
  height: 720px;
}

.hader__section--bottom {
  padding: 55px 0 25px 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 100px rgba(175, 161, 249, 0.3);
}
