.header {
  position: relative;
  padding: 40px 0 55px 0;
  background: linear-gradient(51.78deg, #5540bf 28.44%, #afa1f9 99.76%);
  color: #fff;
}

.header__triangle-wrapper {
  position: absolute;
  top: -48px;
  left: 78px;
}

.header__triangle {
  fill: rgba(175, 161, 249, 0.1);
  width: 579px;
  height: 561px;
}
