.main{
  overflow-x: hidden;
}

.main__content {
  padding-top: 181px;
  padding-bottom: 367px;
  color: #333333;
}

.main__section {
  position: relative;
  margin-bottom: 307px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section__heading {
  margin-bottom: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.15px;
}

.section__text {
  margin-bottom: 42px;
  width: 97%;
  font-size: 18px;
  line-height: 28px;
}

.section__text--margin-large {
  margin-bottom: 70px;
}
