.main {
  padding-top: 181px;
  color: #333333;
}

.main__section {
  position: relative;
  margin-bottom: 307px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section__heading {
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.142px;
}

.section__text {
  margin-bottom: 42px;
  width: 98%;
  font-size: 18px;
  line-height: 28px;
}

.section__text--margine-large {
  margin-bottom: 71px;
}

.main__rectangle--wrapper {
  position: absolute;
  fill: rgba(175, 161, 249, 0.3);
}
