.main__bottom {
  position: relative;
  z-index: 1;
}

.main__bottom-content {
  padding: 102px 0;
  color: #fff;
  background: linear-gradient(78.94deg, #5540bf 36.07%, #afa1f9 99.58%);
}

.main-bottom__pics {
  position: relative;
  top: -64px;
  left: 25px;
}
