footer.footer
    .container
        .row.row--align-items-center
            .col
                a.logo.logo--violet(href="index.html")
                    | YOUR LOGO HERE
            .col
                .footer__social
                    +social-icons("social-icons row row--flex-end", "30", "30")
                p.footer__text
                    | По всем вопросам обращайтесь support.website.com