.main__section.row--flexible.row--align-items-center.group-call
    .main__rectangle--wrapper
        svg(width="684" height="903" class="main__rectangle")
            use(xlink:href="./img/svg/svg-sprite_geo.svg#rectangle")
    .col
        .group-call__pics
            .group-pics
                .group-photos.overlay
                    .group-photos__row
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo1.jpg")
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo2.jpg")
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo3.jpg")
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo4.jpg")
                    .group-photos__row
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo5.jpg")
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo6.jpg")
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo7.jpg")
                        .group-photos__img-wrapper
                            img.group-photos__img(src="./img/main/main_photo8.jpg")
                    +call-control("call-control", "30", "30")
                .group-call__side-img
                    .img-messenger
                        img(src="./img/main/main_messenger.jpg" alt="messenger")
    .col
        h2.section__heading Больше возможностей для бизнеса с групповыми звонками
        p.section__text Одновременное участие в конференции до 8 человек, возможность демонстрации экрана, переписка в удобном текстовом чате – в VideoApplication есть все для комфортного обсуждения проектов.
        +button("button--violet button--large")
            | начать конференцию