main.main
    .container
        .main__section.row--flexible.row--align-items-center
            .col
                .main__group-pics
                    .main__group-photos
                        .group-photos__row
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo1.jpg")
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo2.jpg")
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo3.jpg")
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo4.jpg")
                        .group-photos__row
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo5.jpg")
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo6.jpg")
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo7.jpg")
                            .group-photos__img-wrapper
                                img.group-photos__img(src="./img/main/main_photo8.jpg")
                        .group-photos__control
                            svg(width="30" height="30" class="control__item")
                                use(xlink:href="./img/svg/svg-sprite_call.svg#cameraCrossed")
                            svg(width="30" height="30" class="control__item")
                                use(xlink:href="./img/svg/svg-sprite_call.svg#callEnd")
                            svg(width="30" height="30" class="control__item")
                                use(xlink:href="./img/svg/svg-sprite_call.svg#micCrossed")
                    .group-photos__img-messenger
                        img(src="./img/main/main_messenger.jpg" alt="messenger")
            .col
                h2.section__heading Больше возможностей для бизнеса с групповыми звонками
                p.section__text Одновременное участие в конференции до 8 человек, возможность демонстрации экрана, переписка в удобном текстовом чате – в VideoApplication есть все для комфортного обсуждения проектов.
                button.button--violet начать конференцию
        .main__section.row--flexible.row--align-items-center
            .col
                .main__group-pics
                    .main__group-photos
                        
                        .group-photos__control
                        svg(width="30" height="30" class="control__item")
                            use(xlink:href="./img/svg/svg-sprite_call.svg#cameraCrossed")
                        svg(width="30" height="30" class="control__item")
                            use(xlink:href="./img/svg/svg-sprite_call.svg#callEnd")
                        svg(width="30" height="30" class="control__item")
                            use(xlink:href="./img/svg/svg-sprite_call.svg#micCrossed")
            .col
                h2.section__heading Повышенная безопасность
                p.section__text Защиту соединения обеспечивает технология WebRTC. При желании вы можете выбрать закрытый тип конференции. В таком случае собеседник сможет присоединиться к звонку только после авторизации или через функцию распознавания лица.
                button.button--violet начать конференцию