article.main__section.row--flexible.row--align-items-center.security
    .main__square-wrapper.rectangle--rotate.geometry
        svg(class="square")
            use(href="./img/svg/svg-sprite_geo.svg#square")
    .main__square-wrapper--small.rectangle--rotate.geometry
        svg(class="square--small")
            use(href="./img/svg/svg-sprite_geo.svg#squareSmall")
    .col
        .security__pics
            .group-pics
                .group-photos.overlay
                    .group-photos__img-wrapper--large
                        img.group-photos__img--large(src="./img/main/main_photo-large.jpg" alt="photo-large")
                    +call-control("call-control", "30", "30")
                .group-photos__dots--bottom
                    svg(width="86" height="70" class="dots dots--yellow")
                        use(xlink:href="./img/svg/svg-sprite_geo.svg#angle")
                .main__guest
                    +guest("Aleksandr87", "Александр Седельников", "main_photo-ellipse.jpg")
    .col
        h2.section__heading Повышенная безопасность
        p.section__text Защиту соединения обеспечивает технология WebRTC. При желании вы можете выбрать закрытый тип конференции. В таком случае собеседник сможет присоединиться к звонку только после авторизации или через функцию распознавания лица.
        +button("button--violet button--large")
            | начать конференцию